@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Regular.ttf);
}


/*admin*/
body {
    font-family: 'Inter';
    font-style: normal;
}

.section1 {
    background: #FFFFFF;
    box-shadow: 4px 0px 5px rgba(184, 184, 184, 0.25);
    margin-right: 0.5rem;
    height: 100vh;
}

.admin{
    height: 100vh;
    background: #ECF2FF;
}

.nav {
    display: flex;
    text-align: center;
}

.logo img{
    width: 250px;
    height: 200px;
    margin-top: 10px;
}

.navbar {
    background: #3E54AC;
    width: 278px;
    border-radius: 40px;
}

.navbar1 {
    width: 278px;
}

.logo1{
    height: 5.5rem;
}

.logo1 img{
    margin-top: 10px;
}

.admin-photo{
    display: inline-block;
    padding-left: 14px;
    margin-right: 0;
}

.admin-section {
    display: inline-block;
    margin-left: 1rem;
}

.admin-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
}

.admin-name1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #434343;
    margin-top: 10px;
    margin-bottom: 0;
}

.admin-section a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px; 
    color: #F0A04B;
    text-decoration: none;   
}

.role {
    margin: 0;
    font-weight: 300;
    font-size: 10px;
    color: #F0A04B;
}


.admin-section1 a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px; 
    color: #797979;
    text-decoration: none;   
}

.role1 {
    margin: 0;
    font-weight: 300;
    font-size: 10px;
    color: #797979;
}

.menu {
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 2rem;
}

.menu i{
    display: inline-block;
    margin-right: 1.5rem;
}

.menu__items a{
    font-family: 'Inter';
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 0.5rem;
}

.menu a:hover {
    color: #3E54AC;
}

.navigation {
    height: 5.5rem;
}

/*navigation*/
.section2{
    background: #FFFFFF;
    margin-bottom: 0.5rem;
}

.time-line {
    margin-right: 2rem;
}

#time{
    text-align: end;
}

.clock {
    font-family: 'Inter';
    font-style: normal;
    color: #3E54AC;
    font-size: 2rem;
    margin-right: 28px;
}

.line {
    border-left: 4px solid #3E54AC  ;
    height: 55px;
    margin-right: 28px;
}

.logout {
    display: inline-block;
    width: 132px;
    height: 55px;
    background: #3E54AC;
    border-radius: 10px;
    color: #FFFFFF;
}

.logout a{
    font-family: 'Inter';
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}